<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <p><%-students.length%></p>
<p><%-schools.length%></p>
<p>
   <a target="_blank" href="MiPDF">crear pdf </a>    
</p>
</body>
</html>